.textarea {
  width: 100%;
  position: relative;
  transition: 400ms ease-in-out all;
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.textarea textarea {
  border: none;
  padding: 2.5rem 1rem;
  background: var(--medium-blue);
  color: var(--off-white);
  font-size: 1.5rem;
  border-radius: 1rem;
  transition: 400ms ease-in-out all;
  border: 3px solid var(--primary-blue);
}
.textarea label {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  transition: 400ms ease-in-out all;
}
.textarea:hover > textarea {
  border: 3px solid var(--primary-green);
}
.textarea:hover > label, .textarea:focus > label {
  position: absolute;
  opacity: 0.8;
  top: 1rem;
  font-size: 0.8rem;
}
.textarea--active > label {
  position: absolute;
  opacity: 0.8;
  top: 1rem;
  font-size: 0.8rem;
}
